@import "bootstrap/scss/bootstrap";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
    padding-top: 70px;
    font: 100% $font-stack;
    color: $primary-color;
}

.navbar-brand img {
    max-width: 30px;
}
